services:
  lgtm:
    image: docker.io/grafana/otel-lgtm:0.8.1
    container_name: lgtm
    ports:
      - "3000:3000"
      - "4317:4317"
      - "4318:4318"
    volumes:
      - ./docker/volumes/lgtm/grafana:/data/grafana
      - ./docker/volumes/lgtm/prometheus:/data/prometheus
      - ./docker/volumes/lgtm/loki:/data/loki
    environment:
      - GF_PATHS_DATA=/data/grafana
    restart: unless-stopped
    tty: true
    stdin_open: true
